p3.json
[{"id":"89f63f1e.af81b8","type":"rpi-gpio in","z":"cf0f8c90.16d0a","name":"PIR on Dante","pin":"38","intype":"tri","debounce":"500","read":false,"x":470,"y":380,"wires":[["5899c075.2d55b"]]},{"id":"f2db6a57.d6f158","type":"debug","z":"cf0f8c90.16d0a","name":"check pir","active":true,"console":"false","complete":"false","x":663.5,"y":320,"wires":[]},{"id":"5899c075.2d55b","type":"trigger","z":"cf0f8c90.16d0a","op1":"","op2":"Tu hombre te ama pero tu le ere infie","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":656.5,"y":380,"wires":[["f305a2e6.75b15"]]},{"id":"cc71d015.930c9","type":"e-mail","z":"cf0f8c90.16d0a","server":"smtp.gmail.com","port":"465","secure":true,"name":"nte111da@gmail.com","dname":"email alert","x":1088,"y":380,"wires":[]},{"id":"cb0003cd.869b3","type":"inject","z":"cf0f8c90.16d0a","name":"reset","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":475,"y":320,"wires":[["5899c075.2d55b","29c475c6.bdd342"]]},{"id":"f305a2e6.75b15","type":"change","z":"cf0f8c90.16d0a","name":"BBCITA","rules":[{"t":"set","p":"Hola","pt":"msg","to":"Presence Alert","tot":"str"}],"x":855.5,"y":380,"wires":[["6d8d3545.84754c"]]},{"id":"982af1e2.88d68","type":"comment","z":"cf0f8c90.16d0a","name":"No Motion Alert","info":"","x":878,"y":320,"wires":[]},{"id":"42a384d1.4c98f4","type":"inject","z":"cf0f8c90.16d0a","name":"quiet time","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"*/30 20-23,0-7 * * *","once":false,"x":482.5,"y":440,"wires":[["5899c075.2d55b"]]},{"id":"6d8d3545.84754c","type":"camerapi-takephoto","z":"cf0f8c90.16d0a","filemode":"1","filename":"bbcita.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":1020,"y":500,"wires":[[]]},{"id":"29c475c6.bdd342","type":"python3-function","z":"cf0f8c90.16d0a","name":"Hola Mundo Py","func":"\nmsg = \"Hola Mundo\"\nreturn msg","outputs":1,"x":400,"y":240,"wires":[["df469e3.966fe6"]]},{"id":"df469e3.966fe6","type":"debug","z":"cf0f8c90.16d0a","name":"check pir","active":true,"console":"false","complete":"false","x":640,"y":220,"wires":[]}]
