p3.json
[{"id":"6ad4a50.7f1e05c","type":"tab","label":"rodolfo","disabled":false,"info":""},{"id":"3152007b.defe3","type":"rpi-gpio out","z":"6ad4a50.7f1e05c","name":"Rodolfo","pin":"11","set":true,"level":"0","freq":"","out":"out","x":680,"y":240,"wires":[],"icon":"node-red/light.png"},{"id":"9286c59f.03f428","type":"rpi-gpio in","z":"6ad4a50.7f1e05c","name":"BEEP","pin":"7","intype":"up","debounce":"25","read":true,"x":210,"y":280,"wires":[["4d9e4418.7a1c6c"]]},{"id":"4d9e4418.7a1c6c","type":"switch","z":"6ad4a50.7f1e05c","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":280,"wires":[["ddb38cd5.1bab6"],["adce2759.581958"]]},{"id":"ddb38cd5.1bab6","type":"change","z":"6ad4a50.7f1e05c","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["3152007b.defe3"]]},{"id":"adce2759.581958","type":"change","z":"6ad4a50.7f1e05c","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":300,"wires":[["3152007b.defe3","9e8c3e2e.41e73"]]},{"id":"9e8c3e2e.41e73","type":"function","z":"6ad4a50.7f1e05c","name":"push_register","func":"var m = {\n topic : \"INSERT INTO `pruebas`.`Practica2` (`pusheado`) VALUES (1);\" \n };\nreturn m;\n","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["94354804.e2ac18"]]},{"id":"94354804.e2ac18","type":"mysql","z":"6ad4a50.7f1e05c","mydb":"ea8f505e.93d4","name":"pruebas","x":700,"y":360,"wires":[["2abaf82f.1fde18"]]},{"id":"2abaf82f.1fde18","type":"function","z":"6ad4a50.7f1e05c","name":"counter","func":"var m = {\n topic : \"SELECT COUNT(*) AS contador FROM `pruebas`.`Practica2`;\" \n };\n \nreturn m;","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["c2ea796.d59e888"]]},{"id":"c2ea796.d59e888","type":"mysql","z":"6ad4a50.7f1e05c","mydb":"ea8f505e.93d4","name":"","x":700,"y":460,"wires":[["107f8dc1.9fccf2"]]},{"id":"389c8b22.c56004","type":"debug","z":"6ad4a50.7f1e05c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":460,"wires":[]},{"id":"f32945f4.330318","type":"ui_numeric","z":"6ad4a50.7f1e05c","name":"Contador UI","label":"CONTADOR","tooltip":"contador de rodolfo","group":"e691a714.032928","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":1050,"y":400,"wires":[[]]},{"id":"107f8dc1.9fccf2","type":"function","z":"6ad4a50.7f1e05c","name":"filter_json","func":"var j = msg.payload;\nconsole.log(j);\nvar counter = j[0].contador;\nreturn {\n    payload: counter\n};","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["389c8b22.c56004","f32945f4.330318","e0324dff.c215e"]]},{"id":"e0324dff.c215e","type":"ui_gauge","z":"6ad4a50.7f1e05c","name":"Contador de rodolfo","group":"e691a714.032928","order":1,"width":"6","height":"6","gtype":"gage","title":"Contador de Rodolfo","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"90","x":1080,"y":340,"wires":[]},{"id":"ea8f505e.93d4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"pruebas","tz":""},{"id":"e691a714.032928","type":"ui_group","z":"","name":"Default","tab":"5dbcab10.577bc4","disp":true,"width":"6","collapse":false},{"id":"5dbcab10.577bc4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
