p3_casi.json
[{"id":"cf0f8c90.16d0a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"91999afb.a0e508","type":"inject","z":"cf0f8c90.16d0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":220,"wires":[["e4c5efe8.4794e"]]},{"id":"23c52e2a.281972","type":"function","z":"cf0f8c90.16d0a","name":"filename","func":"var filename = msg.payload;\nmsg.payload = '/home/pi/p3/Photos/' + filename;\nreturn [msg, msg, msg];","outputs":3,"noerr":0,"x":500,"y":220,"wires":[["23b1a38e.76718c"],["526e87f5.039ce8"],[]]},{"id":"e4c5efe8.4794e","type":"exec","z":"cf0f8c90.16d0a","command":"rname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RandomName","x":300,"y":220,"wires":[["23c52e2a.281972"],[],[]]},{"id":"23b1a38e.76718c","type":"exec","z":"cf0f8c90.16d0a","command":"tkpic ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tkpic","x":690,"y":200,"wires":[["a1cb73da.aacd4"],[],[]]},{"id":"bc443dbe.ea2af","type":"mysql","z":"cf0f8c90.16d0a","mydb":"def44679.25a1b8","name":"Store_data","x":930,"y":260,"wires":[["634e6465.f7bf9c"]]},{"id":"526e87f5.039ce8","type":"function","z":"cf0f8c90.16d0a","name":"I_normal","func":"var filename = msg.payload;\nvar changed = filename;\nchanged = (changed).split(\".\");\nvar new_name = changed[0] + \"_changed.jpg\";\n\nmsg.topic = \"INSERT INTO eventos (path_original, path_recon) \" + \n            \"VALUES ('\" + filename + \"', '\" + new_name + \"');\"\n            \nreturn [msg, msg];","outputs":2,"noerr":0,"x":700,"y":260,"wires":[["bc443dbe.ea2af"],["d0f44865.43e0e8"]]},{"id":"634e6465.f7bf9c","type":"debug","z":"cf0f8c90.16d0a","name":"database_check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1140,"y":260,"wires":[]},{"id":"d0f44865.43e0e8","type":"debug","z":"cf0f8c90.16d0a","name":"query_check","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"topic","x":930,"y":320,"wires":[]},{"id":"33bda0e0.0998d","type":"debug","z":"cf0f8c90.16d0a","name":"reportPhoto","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":1070,"y":80,"wires":[]},{"id":"a1cb73da.aacd4","type":"function","z":"cf0f8c90.16d0a","name":"getPath","func":"var path = msg.payload;\nvar msg = {\n    payload: path\n};\nreturn [msg, msg];","outputs":2,"noerr":0,"x":900,"y":200,"wires":[["33bda0e0.0998d"],["b120eb29.f855d8"]]},{"id":"b120eb29.f855d8","type":"exec","z":"cf0f8c90.16d0a","command":"cd ~/p3 && /usr/bin/python3.5 index.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"openCV","x":1100,"y":180,"wires":[["40e9b5ca.16821c"],[],[]],"icon":"node-red/node-changed.png"},{"id":"6b035585.c4b0fc","type":"debug","z":"cf0f8c90.16d0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":1370,"y":80,"wires":[]},{"id":"40e9b5ca.16821c","type":"function","z":"cf0f8c90.16d0a","name":"path","func":"var lines = msg.payload;\nlines = lines.split('\\n');\nvar msg = {\n    payload: lines[1]\n}\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":160,"wires":[[]]},{"id":"def44679.25a1b8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"micros2","tz":""}]
